// =============================================
// # Display
// =============================================

$values: none, inline, block, inline-block, flex, inline-flex, table-cell;

@each $value in $values {
  .#{$value} {
    display: #{$value};
  }
}

@each $alias, $breakpoint in $breakpoints {
  @include media($alias) {
    .#{$alias}--none { display: none; }
  }
  @include media($alias) {
    .#{$alias}--table-cell { display: table-cell; }
  }
  @include media($alias) {
    .#{$alias}--inline-block { display: inline-block; }
  }
  @include media($alias) {
    .#{$alias}--block { display: block; }
  }
  @include media($alias) {
    .#{$alias}--flex { display: flex; }
  }
  @include media($alias) {
    .#{$alias}--inline-flex { display: inline-flex; }
  }
  @include media($alias) {
    .#{$alias}--inline { display: inline; }
  }
}
