// =============================================
// # Typography
// =============================================

$dirs: left, right, center, justify;
@each $dir in $dirs {
  .text-#{$dir} {
    text-align: #{$dir};
  }
}

@each $alias, $breakpoint in $breakpoints {
  @include media($alias) {
    .#{$alias}--text-right { text-align: right; }
  }
  @include media($alias) {
    .#{$alias}--text-left { text-align: left; }
  }
  @include media($alias) {
    .#{$alias}--text-center { text-align: center; }
  }
  @include media($alias) {
    .#{$alias}--text-none { text-align: none; }
  }
}

$weights: 200, 400, 700;
@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: #{$weight};
  }
}
