// =============================================================================
// Base
// =============================================================================

html {
  overflow-y: scroll;
  font-size: 18px;  
}

body {
  font-family: $ff-default;
  line-height: 1.4;
  font-size: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

// Typography
// -------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: $ws-base;
}

p,
dl,
ol,
ul {
  font-size: $fs-base;
  margin-top: 0;  
  margin-bottom: $ws-base;
}

ol,
ul {
  padding-left: $ws-base;
}

pre,
code,
samp {
  font-family: $ff-monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $ws-base;
  overflow-x: scroll;
}

blockquote {
  margin-top: $ws-medium;
  margin-bottom: $ws-medium;
  margin-left: 0;
  padding-left: $ws-base;
  padding-right: $ws-base;
}

blockquote,
blockquote p {
  font-size: $fs-medium;
  font-style: italic;
}

h1,
.h1 {
  font-size: $fs-jumbo;
}

h2,
.h2 {
  font-size: $fs-larger;
}

h3,
.h3 {
  font-size: $fs-large;
}

h4,
.h4 {
  font-size: $fs-base;
}

h5,
.h5 {
  font-size: $fs-small;
}

h6,
.h6 {
  font-size: $fs-small;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

// Forms
// -------------------------------------------------------------

input,
select,
textarea,
fieldset {
  margin-top: 0;
  margin-bottom: $ws-small;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  box-sizing: border-box;
  height: $ws-large;
  padding: $ws-small $ws-base;
  -webkit-appearance: none;
}

select {
  box-sizing: border-box;
  line-height: 1.8;
  padding: $ws-small $ws-base;
}

select:not([multiple]) {
  height: $ws-large;
}

textarea {
  box-sizing: border-box;
  line-height: 1.8;
  padding: $ws-small $ws-base;
}

.fieldset-reset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

.fieldset-reset legend {
  padding: 0;
}