// =============================================
// # Headings
// =============================================

h1,
.h1 {
  font-size: modular-scale(3);
  line-height: $baseLineHeight * .8;
}

h2,
.h2 {
  font-size: modular-scale(2);
  line-height: $baseLineHeight * .8;
}

h3,
.h3 {
  font-size: modular-scale(2);
  line-height: $baseLineHeight * .8;
}

h4,
.h4 {
  font-size: modular-scale(1);
}

h5,
.h5 {
  font-size: modular-scale(1);
}

h6,
.h6 {
  font-size: modular-scale(0);
}

hr {
  border-top: 1px solid color(gray, dark);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

