// =============================================
// # Forms
// =============================================

input,
select,
textarea,
fieldset {
  box-sizing: border-box;
  padding: $baseSpaceSmall;
  outline: 0;
  border: none;
  border-radius: map-get($borderRadius, medium);
  font-size: modular-scale(0);
  font-family: $baseFontFamily;

  &:focus {
    box-shadow: inset 0 0 0 1px color(green);
  }
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  vertical-align: middle;
  -webkit-appearance: none;
}

select:not([multiple]) {
  vertical-align: middle;
}

textarea {
  padding: $baseSpaceSmaller;
}

button {
  padding: 0;
  outline: none;
  border: none;
  border-radius: map-get($borderRadius, medium);
}
