// =============================================
// # Global
// =============================================

$baseMaxWidth: 1280px;

$breakpoints: (
  small: 480px,
  medium: 700px,
  large: 1100px,
  larger: 1600px
);

$borderRadius: (
  small: 3px,
  medium: 6px,
  large: 12px
);

$ratios: (
  golden: 1.618,
  octave: 2,
  majorSeventh: 1.875,
  minorSeventh: 1.778,
  majorSixth: 1.667,
  minorSixth: 1.6,
  fifth: 1.5,
  augmentedFourth: 1.414,
  fourth: 1.333,
  majorThird: 1.25,
  minorThird: 1.2
);

$transitionSpeed: (
  slow: 800ms,
  fast: 200ms
);

// Typography
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$baseRatio: map-get($ratios, majorThird);
$baseFontFamily: sans-serif;

$baseSpace: 1rem;

$baseSpaceSmaller: .25rem;
$baseSpaceSmall: .5rem;
$baseSpaceLarge: 2rem;
$baseSpaceLarger: 3rem;
