// =============================================
// # Colors
// =============================================

// Base
$_color-base-gray: #3d3d3d !default;
$_color-base-white: #fafafa !default;

// Colors
$_color-primary: #49b749;

// Variants
$color-variants: (
  gray: (
    base: $_color-base-gray,
    light: lighten($_color-base-gray, 10%),
    dark: darken($_color-base-gray, 10%),
  ),
  primary: (
    base: $_color-primary,
    light: adjust-color($_color-primary,
      $saturation: 10%,
      $lightness: 10%
    ),
    dark: adjust-color($_color-primary,
      $saturation: 10%,
      $lightness: -10%
    )
  ),
  social: (
    twitter: #55acee,
    google: #db4437
  ),
);
