// =============================================
// # Colors
// =============================================

// Base
$_colorBaseGray: #76787a !default;
$_colorBaseWhite: #fafafa !default;

// Brand Colors
$_colorBrandGreen: #49b749;

// Variants
$colorVariants: (
  gray: (
    base: $_colorBaseGray,
    light: lighten($_colorBaseGray, 10%),
    lighter: lighten($_colorBaseGray, 40%),
    dark: darken($_colorBaseGray, 10%)
  ),
  white: (
    base: $_colorBaseWhite,
    dark: darken($_colorBaseWhite, 10%)
  ),
  green: (
    base: $_colorBrandGreen,
    light: lighten($_colorBrandGreen, 10%),
    lighter: lighten($_colorBrandGreen, 40%),
  ),
  social: (
    facebook: #3b5998,
    google: #db4437,
    twitter: #55acee
  ),
);
