/**
 * Settings > Global
 */

:root {
  --baseMaxWidth: 1280px;

  --borderRadius: 6px;
  --borderRadiusSmall: 3px;
  --borderRadiusLarge: 12px;

  --baseFontSize: 16px;
  --baseLineHeight: 1.5;
  --baseFontFamily: sans-serif;

  --baseSpace: 1rem;

  --fontSizeSmaller: .64rem;
  --fontSizeSmall: .8rem;
  --fontSizeBase: 1rem;
  --fontSizeLarge: 1.25rem;
  --fontSizeLarger: 1.563rem;
  --fontSizeLargest: 1.953rem;

  --transitionSpeed: 300ms;
  --transitionSpeedFast: 200ms;
  --transitionSpeedSlow: 500ms;
}

@custom-media --small (min-width: 480px);
@custom-media --medium (min-width: 700px);
@custom-media --large (min-width: 1100px);
@custom-media --extraLarge (min-width: 1600px);
