// =============================================
// # Layout System
// =============================================

.layout {
  display: flex;
  margin-left: -$baseSpace;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;

  &--slim {
    margin-left: -$baseSpaceSmaller;

    > .layout__item {
      padding-left: $baseSpaceSmaller;
    }
  }

  &--flush {
    margin-left: 0;

    > .layout__item {
      padding-left: 0;
    }
  }

  &--pack {
    margin-left: 0;
    flex-wrap: nowrap;

    > .layout__item {
      padding-left: 0;
      flex-grow: 1;
      width: auto;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.layout__item {
  padding-left: $baseSpace;
  width: 100%;
}

$columns: (1, 2, 3, 4, 5, 12) !default;

// Loop through each column size and generate width classes
@each $column in $columns {
  @include widths($column);
}

// Loop through each breakpoint and generate width classes
@each $alias, $breakpoint in $breakpoints {

  @include media($alias) {
    @each $column in $columns {
      @include widths($column, #{$alias});
    }
  }
}
