// =============================================
// # Buttons
// =============================================

.button {
  border-radius: map-get($borderRadius, medium);

  &--outlined {
    border: 1px solid currentColor;
  }

  &--disabled {
    opacity: .25;
    cursor: default;

    &:hover {
      color: inherit !important;
    }
  }
}
