// =============================================
// # Mixins
// =============================================

// Attention styles
@mixin attention($self: false) {

  @if($self != false) {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }

  @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

//  Media Queries
@mixin media($mq) {
  $breakpoint-found: false;

  // Loop through breakpoints in _settings.global.scss
  @each $name, $value in $breakpoints {
    @if ($mq == $name and $value) {
      @media screen and (min-width: $value) {
        @content;
      }

      $breakpoint-found: true;
    }
  }

  @if ($breakpoint-found == false) {
    @warn "Breakpoint '#{$mq}' does not exist.";
  }
}

// Aspect Ratio
@mixin aspect-ratio($width, $height, $elem) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .#{$elem} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
