// =============================================
// Widths
// =============================================

// Should width modifiers use hyphens or fractions? i.e. --1-of-3 vs --1/3
$fractions: true;

@if ($fractions) {
  $delimiter: \/;
} @else {
  $delimiter: -of-;
}

// Generate classes
@mixin widths($columns, $breakpoint: 'base') {
  @each $denominator in $columns {

    @if $denominator == 1 {
      .#{$breakpoint}--1#{$delimiter}1 {
        width: 100%;
      }
    }

    @else {

      @for $numerator from 1 to $denominator {
        .#{$breakpoint}--#{$numerator}#{$delimiter}#{$denominator} {
          width: ($numerator / $denominator) * 100%;
        }

        .push--#{$breakpoint}--#{$numerator}#{$delimiter}#{$denominator} {
          margin-left: ($numerator / $denominator) * 100%;
        }
      }
    }
  }
}
