// =============================================
// White Space
// =============================================

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.m1 {
  margin: $ws-small;
}

.mt1 {
  margin-top: $ws-small;
}

.mr1 {
  margin-right: $ws-small;
}

.mb1 {
  margin-bottom: $ws-small;
}

.ml1 {
  margin-left: $ws-small;
}

.m2 {
  margin: $ws-base;
}

.mt2 {
  margin-top: $ws-base;
}

.mr2 {
  margin-right: $ws-base;
}

.mb2 {
  margin-bottom: $ws-base;
}

.ml2 {
  margin-left: $ws-base;
}

.m3 {
  margin: $ws-medium;
}

.mt3 {
  margin-top: $ws-medium;
}

.mr3 {
  margin-right: $ws-medium;
}

.mb3 {
  margin-bottom: $ws-medium;
}

.ml3 {
  margin-left: $ws-medium;
}

.m4 {
  margin: $ws-larger;
}

.mt4 {
  margin-top: $ws-larger;
}

.mr4 {
  margin-right: $ws-larger;
}

.mb4 {
  margin-bottom: $ws-larger;
}

.ml4 {
  margin-left: $ws-larger;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  padding: $ws-small;
}

.py1 {
  padding-top: $ws-small;
  padding-bottom: $ws-small;
}

.px1 {
  padding-left: $ws-small;
  padding-right: $ws-small;
}

.p2 {
  padding: $ws-base;
}

.py2 {
  padding-top: $ws-base;
  padding-bottom: $ws-base;
}

.px2 {
  padding-left: $ws-base;
  padding-right: $ws-base;
}

.p3 {
  padding: $ws-medium;
}

.py3 {
  padding-top: $ws-medium;
  padding-bottom: $ws-medium;
}

.px3 {
  padding-left: $ws-medium;
  padding-right: $ws-medium;
}

.p4 {
  padding: $ws-larger;
}

.py4 {
  padding-top: $ws-larger;
  padding-bottom: $ws-larger;
}

.px4 {
  padding-left: $ws-larger;
  padding-right: $ws-larger;
}