/**
 * Utilities > Z-index
 */

.u-zIndex0 {
  z-index: 0;
}

.u-zIndex1 {
  z-index: 1;
}

.u-zIndex2 {
  z-index: 2;
}

.u-zIndex3 {
  z-index: 3;
}

.u-zIndex4 {
  z-index: 4;
}

.u-zIndex5 {
  z-index: 5;
}

.u-zIndex6 {
  z-index: 6;
}

.u-zIndex7 {
  z-index: 7;
}

.u-zIndex8 {
  z-index: 8;
}

.u-zIndex9 {
  z-index: 9;
}

.u-zIndex10 {
  z-index: 10;
}
