/**
 * Utilities > Position
 */

.u-posAbsolute {
  position: absolute;
}

.u-posFixed {
  position: fixed;
}

.u-posRelative {
  position: relative;
}

.u-top0 {
  top: 0;
}

.u-right0 {
  right: 0;
}

.u-bottom0 {
  bottom: 0;
}

.u-left0 {
  left: 0;
}
