/**
 * Utilities > Display
 */

.u-block {
  display: block;
}

.u-flex {
  display: flex;
}

.u-inline {
  display: inline;
}

.u-inlineBlock {
  display: inline-block;
}

.u-inlineFlex {
  display: inline-flex;
}

.u-none {
  display: none;
}
