/**
 * Utilities > Position
 */

.u-absolute {
  position: absolute;
}

.u-fixed {
  position: fixed;
}

.u-relative {
  position: relative;
}

.u-top0 {
  top: 0;
}

.u-right0 {
  right: 0;
}

.u-bottom0 {
  bottom: 0;
}

.u-left0 {
  left: 0;
}

.u-absoluteEdge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
