/**
 * Utilities > Display
 * TODO: Move flex variants to object or separate utils; too many variants for basic util
 */

.u-block        { display: block; }
.u-flex         { display: flex; }
.u-flexColumn   { display: flex; flex-direction: column; }
.u-inline       { display: inline; }
.u-inlineBlock  { display: inline-block; }
.u-inlineFlex   { display: inline-flex; }
.u-none         { display: none; }

@media (--small) {
  .u-block\@sm        { display: block; }
  .u-flex\@sm         { display: flex; }
  .u-flexColumn\@sm   { display: flex; flex-direction: column; }
  .u-inline\@sm       { display: inline; }
  .u-inlineBlock\@sm  { display: inline-block; }
  .u-inlineFlex\@sm   { display: inline-flex; }
  .u-none\@sm         { display: none; }
}

@media (--medium) {
  .u-block\@md        { display: block; }
  .u-flex\@md         { display: flex; }
  .u-flexColumn\@md   { display: flex; flex-direction: column; }
  .u-inline\@md       { display: inline; }
  .u-inlineBlock\@md  { display: inline-block; }
  .u-inlineFlex\@md   { display: inline-flex; }
  .u-none\@md         { display: none; }
}

@media (--large) {
  .u-block\@lg        { display: block; }
  .u-flex\@lg         { display: flex; }
  .u-flexColumn\@lg   { display: flex; flex-direction: column; }
  .u-inline\@lg       { display: inline; }
  .u-inlineBlock\@lg  { display: inline-block; }
  .u-inlineFlex\@lg   { display: inline-flex; }
  .u-none\@lg         { display: none; }
}

@media (--extraLarge) {
  .u-block\@xl        { display: block; }
  .u-flex\@xl         { display: flex; }
  .u-flexColumn\@xl   { display: flex; flex-direction: column; }
  .u-inline\@xl       { display: inline; }
  .u-inlineBlock\@xl  { display: inline-block; }
  .u-inlineFlex\@xl   { display: inline-flex; }
  .u-none\@xl         { display: none; }
}
