/**
 * Utilities > Images
 */

.u-fitCover {
  object-fit: cover;
  object-position: center center;
}

.u-fitCover--fromTop {
  object-position: top center;
}

.u-fitCover--fromBottom {
  object-position: bottom center;
}
