/**
 * Utilities > Typography
 */

.u-textCenter {
  text-align: center;
}

.u-textJustify {
  text-align: justify;
}

.u-textLeft {
  text-align: left;
}

.u-textRight {
  text-align: right;
}

.u-200 {
  font-weight: 200;
}

.u-400 {
  font-weight: 400;
}

.u-600 {
  font-weight: 600;
}
