/**
 * Utilities > Colors
 */

.u-white {
  color: white;
}

.u-bgWhite {
  background-color: white;
}

/* Neutrals
 =========================================================================== */

.u-offWhite {
  color: var(--colorOffWhite);
}

.u-offWhiteBg {
  background-color: var(--colorOffWhite);
}

.u-grayLighter {
  color: var(--colorGrayLighter);
}

.u-grayLighterBg {
  background-color: var(--colorGrayLighter);
}

.u-grayLight {
  color: var(--colorGrayLight);
}

.u-grayLightBg {
  background-color: var(--colorGrayLight);
}

.u-gray {
  color: var(--colorGray);
}

.u-grayBg {
  background-color: var(--colorGray);
}

.u-grayDark {
  color: var(--colorGrayDark);
}

.u-grayDarkBg {
  background-color: var(--colorGrayDark);
}

/* UI Colors
 =========================================================================== */

.u-green {
 color: var(--colorGreen);
}

.u-greenBg {
 background-color: var(--colorGreen);
}

/* Social Colours
 =========================================================================== */

.u-facebook {
  color: var(--colorFacebook);
}

.u-facebookBg {
  background-color: var(--colorFacebook);
}

.u-google {
  color: var(--colorGoogle);
}

.u-googleBg {
  background-color: var(--colorGoogle);
}

.u-twitter {
  color: var(--colorTwitter);
}

.u-twitterBg {
  background-color: var(--colorTwitter);
}
